body {
    background-color: rgb(165, 161, 161);
}

.col {
    min-height: 81px;
}

#output {
    min-height: 90px;
    font-size: 80px;
    background-color: black;
    color: white;
}

#mainDiv {
    background-color: black;
}